body {
    font-family: Arial;
    text-align: center;
    color: white;
    background: radial-gradient(circle at top, #0b1d3a, #000814);
}

/* Heading */
h1 {
    margin-top: 20px;
}

/* Main Box */
.container {
    background: rgba(255,255,255,0.08);
    padding: 25px;
    width: 420px;
    margin: auto;
    border-radius: 12px;
    backdrop-filter: blur(10px);
}

/* Button */
button {
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    background: #00c2ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0099cc;
}

/* Planet Grid */
.planet-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

/* Planet Card */
.planet-card {
    background: rgba(255,255,255,0.12);
    padding: 12px;
    border-radius: 8px;
    transition: 0.3s;
}

.planet-card:hover {
    transform: scale(1.05);
}

#extraAge {
    margin-top: 15px;
    text-align: left;
}